[include]
	path = ~/local.gitconfig
[gist]
	private = true
[credential]
	helper = manager
[core]
	editor = vim
	autocrlf = false
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	root = "!f() { if [ \"$1\" = \"-r\" ] || [ \"$1\" = \"--relative\" ]; then git rev-parse --show-prefix; elif [ -n \"$1\" ]; then >&2 echo \"Invalid argument: $1\" && exit 1; else git rev-parse --show-toplevel; fi }; f"
	cane = commit --amend --no-edit
	changed = show --name-status --oneline
	cmp = log --left-right --graph --oneline
	graph = log --graph --oneline
	ls = log --oneline
	rh = reset --hard
	diffc = diff --cached
	exec = update-index --chmod=+x
	s = status
	co = checkout
	praise = blame
	pansect = bisect
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[push]
	default = simple
