set surround

set number relativenumber

nnoremap Q @q
vnoremap Q :norm @q<CR>
vnoremap . :norm .<CR>
vnoremap gx <Esc>`.``gvP``P
nnoremap gV `[v`]

map <Space> nop
map <S-Space> <Space>
let mapleader = " "

iabbrev <expr> xaz <C-r>="abcdefghijklmnopqrstuvwxyz"<CR>
iabbrev <expr> xAZ <C-r>="ABCDEFGHIJKLMNOPQRSTUVWXYZ"<CR>
iabbrev <expr> x09 <C-r>="0123456789"<CR>
