set surround

set number relativenumber
" set incsearch hlsearch
" set ignorecase
" set smartcase
" set nojoinspaces
" set splitbelow splitright
" set list listchars=tab:>-,eol:¬,extends:>,precedes:<

inoremap jk <Esc>
nnoremap Q @q
vnoremap Q :norm @q<CR>
vnoremap . :norm .<CR>
nnoremap Y y$
vnoremap gx <Esc>`.``gvP``P
nnoremap gV `[v`]

map <Space> nop
map <S-Space> <Space>
let mapleader = " "

iabbrev <expr> xaz     <C-r>="abcdefghijklmnopqrstuvwxyz"<CR>
iabbrev <expr> xAZ     <C-r>="ABCDEFGHIJKLMNOPQRSTUVWXYZ"<CR>
iabbrev <expr> xdigits <C-r>="0123456789"<CR>
